#total-mat-card {
    background-color: #ECF3F5;
    height: 50px;
}

mat-card-actions {
    display: flex;
    gap: 10px;
}

#remaining-mat-card {
    height: 50px;
}

.pay {
    background-color: #8BB5BE;
    height: 50px;
    width: 50%;
    border-radius: 10px;
    border: none;
    display: block;
    font-size: 14px;
    align-self: flex;
    margin-left: 25%;
    margin-top: 20%;
}

.pay:hover {
    background-color: #0077C2;
    color: white;
    cursor: pointer;
  }

.payments {
    flex-direction: column;
    align-items: center;
    height: 600px;
    border: 1px solid rgb(207, 202, 202);
    position: relative;
    justify-content: space-between;
}

mat-card {
    width: 100%;
    margin-bottom: 10px;
}

#total {
    margin-left: 5px;
}

#cashReceived {
    width: 150px;
    height: 30px;
}

.alert-danger{
    color: rgb(234, 135, 135);
}