<div class="search-container row smoke">
    <input (keyup)="filterItems()" [(ngModel)]="searchQuery" placeholder="Search items" type="text">
    <mat-icon>search</mat-icon>
</div>
<div *ngIf="categories" class="categories row wrap">
    <a (click)="getAllItems()" routerLink="/items" class="smoke">All</a>
    <a *ngFor="let category of categories" class="smoke" routerLink="/categories/{{category.id}}">
        {{category.name}}
    </a>
</div>
<div class="container row">
    <div class="item_container row wrap ">
        <mat-card (click)="addToOrder(item)" *ngFor="let item of filteredItems" class="items" >
            <img class="itemImg" mat-card-image src="{{item.imageUrl}}">
            <mat-card-content class="items_content center smoke wrap">
                <div class="name custom-width">{{item.name}}</div>
                <div class="price ">
                    <span>{{item.price | currency:"ILS"}}</span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="order-details">
        <div *ngIf="order?.orderDetails?.length" class="bill-container">
            <mat-card class="card">
                <mat-card-content class="card-content">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="table-header">Name</th>
                            <th class="table-header">Quantity</th>
                            <th class="table-header">Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of order.orderDetails" class="table-row">
                            <td class="table-cell">{{item.item.name}}</td>
                            <td class="table-cell">{{item.quantity}}</td>
                            <td class="table-cell">{{item.item.price | currency:"ILS"}}</td>
                        </tr>
                        </tbody>
                    </table>
                </mat-card-content>
                <mat-form-field class="note">
                    <mat-label for="note">Leave a note:</mat-label>
                    <input [(ngModel)]="note" id="note" matInput placeholder="Ex. Delivery" type="text">
                </mat-form-field>
                <mat-card-actions class="card-actions">
                    <mat-select [(ngModel)]="selectedTable" class="select-table" placeholder="Select table">
                        <ng-container *ngFor="let table of tables">
                            <mat-option [value]="table.id">Table{{table.id}}</mat-option>
                        </ng-container>
                    </mat-select>
                    <button (click)="addSelectedItemsToOrder(selectedTable,note)" class="order-button">ORDER</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>