  <div class="background">
    <div class="container center">
      <div class="card">
        <div class="card-image"></div>
        <div class="card-content">
          <div class="loginForm">
            <div class="card-header">
              <h1>Login Page</h1>
            </div>
            <div class="card-body">
              <form>
                <label for="username">Username</label>
                <input type="text" id="username" class="username"><br>
                <label for="password">Password </label>
                <input type="password" id="password" class="password"><br>
                <button class="Login button">Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>