/* You can add global styles to this file, and also import other style files */
@import 'assets/styles/global.scss';
@import 'assets/styles/base.scss';
@import 'assets/styles/custom-theme.scss';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-layouts/styles/material.css';

*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

html, body { height: 100%; }

body { 

  margin: 0; font-family: 'Quicksand', sans-serif;
  font-size: 18px;
 }
